Repository Together-Java/TJ-Bot, pull requests merged in 2021-12, with the labels that each got.

#313 Bump log4j version to fix RCE vulnerability
  application/build.gradle
  logviewer/build.gradle
Labels: priority: show-stopper

#314 Release 2.1
  application/build.gradle
  logviewer/build.gradle
Labels: bug, priority: show-stopper, dependencies

#286 Display /tags in alphabetical order
  application/src/main/java/org/togetherjava/tjbot/commands/tags/TagsCommand.java
Labels: enhance command, priority: low

#318 Change free command message
  application/src/main/java/org/togetherjava/tjbot/commands/free/UserStrings.java
Labels: enhance command, priority: low

#319 Improve audit summary (type-to-count table)
  application/src/main/java/org/togetherjava/tjbot/commands/moderation/AuditCommand.java
Labels: enhance command, priority: low

#321 Remove /db-get and /db-put commands
  application/src/main/java/org/togetherjava/tjbot/commands/Commands.java
  application/src/main/java/org/togetherjava/tjbot/commands/basic/DatabaseCommand.java
  application/src/main/resources/db/V6__Remove_Database_Listener.sql
  application/src/test/java/org/togetherjava/tjbot/commands/basic/DatabaseCommandTest.java
Labels: documentation, enhancement, priority: normal

#324 Spring + Log4j2 Update on Logviewer
  application/build.gradle
  logviewer/build.gradle
Labels: dependencies

#327 Create Custom Filter for the AsyncAppender
  application/build.gradle
  application/src/main/java/org/togetherjava/tjbot/logging/FlaggedFilter.java
  application/src/main/java/org/togetherjava/tjbot/logging/package-info.java
  application/src/main/resources/log4j2.xml
  application/src/test/java/org/togetherjava/tjbot/logging/FilterTest.java
Labels: enhancement, priority: normal

#331 Addition of stale-workflow
  .github/workflows/stale.yml
Labels: enhancement

#249 Migrate /warn command
  application/src/main/java/org/togetherjava/tjbot/commands/Commands.java
  application/src/main/java/org/togetherjava/tjbot/commands/moderation/ModerationUtils.java
  application/src/main/java/org/togetherjava/tjbot/commands/moderation/WarnCommand.java
Labels: new command, priority: major

#334 Fix capitalization in slash command description
  application/src/main/java/org/togetherjava/tjbot/commands/free/FreeCommand.java
Labels: enhance command, priority: low

#309 Adding tag used in the footer
  application/src/main/java/org/togetherjava/tjbot/commands/free/FreeCommand.java
  application/src/main/java/org/togetherjava/tjbot/commands/tags/TagCommand.java
  application/src/main/java/org/togetherjava/tjbot/commands/tags/TagManageCommand.java
  application/src/main/java/org/togetherjava/tjbot/commands/tags/TagsCommand.java
  application/src/main/java/org/togetherjava/tjbot/commands/utils/MessageUtils.java
Labels: enhance command, priority: normal
