Repository Together-Java/TJ-Bot, pull requests merged in 2022-05, with the labels that each got.

#422 Made remindme command's implementation global to MessageChannel
  application/src/main/java/org/togetherjava/tjbot/commands/reminder/RemindRoutine.java
Labels: bug, enhance command, priority: normal, stale

#441 Adding Tex inline support
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/TeXCommand.java
  application/src/test/java/org/togetherjava/tjbot/commands/mathcommands/TeXCommandTest.java
  application/src/test/java/org/togetherjava/tjbot/jda/JdaTester.java
Labels: enhance command, priority: normal

#421 Added pre-commit hooks
  build.gradle
  scripts/pre-commit
Labels: enhancement, priority: normal, valid

#212 Migrate WolframAlpha command
  .gitignore
  application/build.gradle
  application/config.json.template
  application/src/main/java/org/togetherjava/tjbot/commands/Features.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/WolframAlphaCommand.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/WolframAlphaHandler.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/WolframAlphaImages.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/DidYouMean.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/DidYouMeans.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/Error.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/ExamplePage.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/FutureTopic.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/LanguageMessage.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/PlainText.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/Pod.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/QueryResult.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/RelatedExample.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/RelatedExamples.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/SubPod.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/Tip.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/Tips.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/WolframAlphaImage.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/api/package-info.java
  application/src/main/java/org/togetherjava/tjbot/commands/mathcommands/wolframalpha/package-info.java
  application/src/main/java/org/togetherjava/tjbot/config/Config.java
Labels: new command, priority: normal, valid

#446 Top helpers based on message length
  application/src/main/java/org/togetherjava/tjbot/commands/tophelper/TopHelpersCommand.java
  application/src/main/java/org/togetherjava/tjbot/commands/tophelper/TopHelpersMessageListener.java
  application/src/main/resources/db/V10__Alter_Top_Helper_Message_Length.sql
Labels: enhance command, priority: normal
