Repository Together-Java/TJ-Bot, pull requests merged in 2022-06, with the labels that each got.

#404 Too many roles bugfix role-select
  application/build.gradle
  application/src/main/java/org/togetherjava/tjbot/commands/SlashCommandAdapter.java
  application/src/main/java/org/togetherjava/tjbot/commands/basic/RoleSelectCommand.java
Labels: bug, enhance command, priority: major

#445 Introduce thread-based help system
  application/config.json.template
  application/src/main/java/org/togetherjava/tjbot/commands/Features.java
  application/src/main/java/org/togetherjava/tjbot/commands/Routine.java
  application/src/main/java/org/togetherjava/tjbot/commands/free/AutoFreeRoutine.java
  application/src/main/java/org/togetherjava/tjbot/commands/free/ChannelStatus.java
  application/src/main/java/org/togetherjava/tjbot/commands/free/ChannelStatusType.java
  application/src/main/java/org/togetherjava/tjbot/commands/free/FreeChannelMonitor.java
  application/src/main/java/org/togetherjava/tjbot/commands/free/FreeCommand.java
  application/src/main/java/org/togetherjava/tjbot/commands/free/FreeUtil.java
  application/src/main/java/org/togetherjava/tjbot/commands/free/UserStrings.java
  application/src/main/java/org/togetherjava/tjbot/commands/free/package-info.java
  application/src/main/java/org/togetherjava/tjbot/commands/help/AskCommand.java
  application/src/main/java/org/togetherjava/tjbot/commands/help/BotMessageCleanup.java
  application/src/main/java/org/togetherjava/tjbot/commands/help/ChangeHelpCategoryCommand.java
  application/src/main/java/org/togetherjava/tjbot/commands/help/CloseCommand.java
  application/src/main/java/org/togetherjava/tjbot/commands/help/HelpSystemHelper.java
  application/src/main/java/org/togetherjava/tjbot/commands/help/HelpThreadOverviewUpdater.java
  application/src/main/java/org/togetherjava/tjbot/commands/help/ImplicitAskListener.java
  application/src/main/java/org/togetherjava/tjbot/commands/help/package-info.java
  application/src/main/java/org/togetherjava/tjbot/commands/tophelper/TopHelpersMessageListener.java
  application/src/main/java/org/togetherjava/tjbot/config/Config.java
  application/src/main/java/org/togetherjava/tjbot/config/FreeCommandConfig.java
  application/src/main/java/org/togetherjava/tjbot/config/HelpSystemConfig.java
  application/src/main/resources/codeSyntaxExample.png
Labels: enhancement, new command, priority: major

#454 Adding /set-log-level command
  application/src/main/java/org/togetherjava/tjbot/commands/Features.java
  application/src/main/java/org/togetherjava/tjbot/commands/system/LogLevelCommand.java
Labels: new command, priority: major

#459 Added /change-help-title command
  application/src/main/java/org/togetherjava/tjbot/commands/Features.java
  application/src/main/java/org/togetherjava/tjbot/commands/help/ChangeHelpCategoryCommand.java
  application/src/main/java/org/togetherjava/tjbot/commands/help/ChangeHelpTitleCommand.java
  application/src/main/java/org/togetherjava/tjbot/commands/help/HelpSystemHelper.java
Labels: new command, priority: normal

#458 Moved question threads under overview channel instead of staging channel
  application/src/main/java/org/togetherjava/tjbot/commands/help/AskCommand.java
  application/src/main/java/org/togetherjava/tjbot/commands/help/HelpSystemHelper.java
  application/src/main/java/org/togetherjava/tjbot/commands/help/HelpThreadOverviewUpdater.java
  application/src/main/java/org/togetherjava/tjbot/commands/help/ImplicitAskListener.java
Labels: enhance command, priority: normal

#462 Bugfix where top-helper uses wrong channel
  application/src/main/java/org/togetherjava/tjbot/commands/tophelper/TopHelpersMessageListener.java
Labels: bug, priority: major
